@model Laboratorio2_QuispeA.Models.ClsEmpleado
@{
    ViewBag.Title = "Calcular";
}

<h2>Calcular</h2>
<br />
<label>Nombre : </label>@Model.nombre
<br />
<label>Dias : </label>@Model.dia
<br />
<label>Categoria </label>@Model.categoria
<br />
<label>Condicion </label>@Model.condicion
<br />
<label>Resultado : </label>@Model.sueldo
<br />
<a href="Index">Retornar al formularario</a>

